<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,130}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{292,130}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>solid_platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,130}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{292,130}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>solid_platform_e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{260,104}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{260,104}}</string>
                <key>sourceSize</key>
                <string>{302,110}</string>
            </dict>
            <key>solid_platform_e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{284,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{284,92}}</string>
                <key>sourceSize</key>
                <string>{302,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platforms-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09752e6307b390fecdc5b9c6d33bf366$</string>
            <key>textureFileName</key>
            <string>platforms-hd.png</string>
        </dict>
    </dict>
</plist>
