<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{147,65}}</string>
                <key>sourceSize</key>
                <string>{151,69}</string>
            </dict>
            <key>solid_platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{147,65}}</string>
                <key>sourceSize</key>
                <string>{151,69}</string>
            </dict>
            <key>solid_platform_e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{132,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{132,54}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>solid_platform_e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{144,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{144,48}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platforms.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed57b2a294c2e9954a48156163ad333b$</string>
            <key>textureFileName</key>
            <string>platforms.png</string>
        </dict>
    </dict>
</plist>
